@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,body {
    background-color: antiquewhite;
}

section#evento {
    background-color: black;
    padding: 15px;
}

section#evento h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

section#evento i{
    padding: 10px;
    background-color: white;
    text-align: left;
    color: black;
    border-radius: 50%;
    font-weight: bold;
}

section#evento i:hover {
    background-color: rgb(77, 76, 76);
    color: red;
}

main {
    background-color: antiquewhite;
}

h1 {
    font-size: 2.3em;
    text-decoration: underline;
}

section#DadosJogadores {
    background-color: white;
    width: 90vw;
    padding: 10px;
    margin: auto;
    margin-top: 17px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 8px rgba(63, 63, 63, 0.27);
}

section#DadosJogadores h1 {
    text-align: center;
    font-size: 2.3em;
    text-decoration: underline;
}

section.status {
    margin: 10px;
    padding: 10px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.27);
}

section h2 {
    text-align: center;
}

section#pais1 {
    background-color: cadetblue;
}

section#pais2 {
    background-color: brown;
}

section#pais3 {
    background-color: coral;
}

section#pais4 {
    background-color: thistle;
    margin-bottom: 10px;
}

section#ferramentas {
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(63, 63, 63, 0.27);
    border-radius: 30px;
    margin-bottom: 10px;
}

section#ferramentas h1,h2 {
    text-align: center;
}

section#ferramentas div {
    width: 80%;
    background-color: black;
    color: white;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
}

section#ferramentas div:hover {
    background-color: rgb(170, 170, 170);
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transition: border-radius 0.3s;
}

section.status p {
    line-height: 1.5em;
}

/* Jogo rodando */


.atributosF {
    display: block; 
}

section.tela {
    display: none;
}

div.atributosF {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}



.tela {
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(63, 63, 63, 0.27);
    border-radius: 30px;
    height: 372px;
    position: relative;
    margin-bottom: 10px;
    
}

.tela div.subTela {
    width: 90%;
    height: 320px;
    background-color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}

.tela i {
    background-color: black;
    color: white;
    padding: 8px;
    margin: 6px;
    border-radius: 50%;
    text-align: left;
}


.tela i:hover {
    color: gray;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s linear;
}

#centralizador {
    position: relative;
    width: 100%;
    height: 295px;
    margin: auto;
    text-align: center;
}

div.paisMoney {
    background-color: brown;
    width: 130px;
    height: 225px;
    border-radius: 5px;
    margin-top: -2%;
}

#menuIcone1 {
    background-color: gray;
    padding: 0.8px;
    border-radius: 3px;
    width: 100px;
}

#menuIcone1:hover {
    background-color: rgb(149, 148, 148);
    cursor: pointer;
}

#menuIcone2 {
    background-color: gray;
    padding: 0.8px;
    border-radius: 3px;
    width: 100px;
}

#menuIcone2:hover {
    background-color: rgb(149, 148, 148);
    cursor: pointer;
}

div#selecionarPais1 {
    position: relative;
    background-color: white;
    width: 100px;
    height: 125px;
    visibility: hidden;      /*VISIBILIDADE*/
    margin-top: -5px;
}

#selecionarPais1 li {
    border: 1px solid black;
    padding: 2.5px;
    list-style: none;
}

#selecionarPais1 li:hover {
    background-color: lightgray;
    cursor: pointer;
}

div#selecionarPais2 {
    position: relative;
    background-color: white;
    width: 100px;
    height: 125px;
    visibility: hidden;      /*VISIBILIDADE*/
    margin-top: -5px;
}

#selecionarPais2 li {
    border: 1px solid black;
    padding: 2.5px;
    list-style: none;
}

#selecionarPais2 li:hover {
    background-color: lightgray;
    cursor: pointer;
}

.subTela div {
    display: inline-block;
}

#flecha {
    height: 50px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}

#icone {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}

.retornar {
    display: block;
    height: 60px;
}

i#sinalPais_Positivo {
    background-color: white;
    cursor: default;
    color: black;
    padding: 3px;
    margin-top: 5px;
    border-radius: 50%;
}

i#sinalPais_Negativo {
    background-color: white;
    cursor: default;
    color: black;
    padding: 3px;
    margin-top: 5px;
    border-radius: 50%;
}

div.quantDinheiro {
    display: block;
    margin: auto;
    margin-top: 5px;  
    margin-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.514);
    padding: 3px;
    text-align: left;
    border-radius: 2px;
    width: 100px;
    height: 60px;
    padding-top: 10px;
}    
.quantDinheiro span {
    padding-top: 4px;
    background-color: lightgray;
    padding: 3px;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: default;
    position: sticky;
}

#bigIcon {
    width: 101px;
    height: 60px;
    margin-top: -10px;
    margin-left: -4px;
    border-radius: 2px;
    padding: 18px;
    padding-left: 36px;
}

.textoMoney {
    width: 59px;
}

div.infoPais {
    display: block;
    width: 100px;
    height: 25px;
    border-radius: 2px;
    margin: auto;
    background-color: rgba(211, 211, 211, 0.514);
    margin-bottom: 3px;
    padding: 4px;
    text-align: left;
}

div.nomePais {
    display: block;
    width: 100px;
    height: 25px;
    border-radius: 2px;
    margin: auto;
    background-color: rgba(211, 211, 211, 0.514);
}

div#botaoTransferNULL {
    display: block;
    background-color: gray;
    width: 85px;
    height: 30px;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    border: 1.7px solid aliceblue;
    font-size: 1em;
    padding-top: 5px;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
    visibility: hidden;
}

div.botaoTransfer {
    display: block;
    background-color: gray;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    border: 1.7px solid aliceblue;
    font-size: 1em;
    padding-top: 5px;
    font-weight: bold;
    text-align: center;
    margin-left: -63px;
}

div.botaoTransfer:hover {
    cursor: pointer;
    background-color: rgb(95, 94, 94);
    border: 1.7px solid rgb(196, 201, 206);
    color: lightgray;
}

div#erros {
    display: none;
    margin: auto;
    text-align: center;
    margin-top: 11px;
    padding: 2px;
    width: 20px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid rgba(184, 5, 5, 0.874);
    border-radius: 15px;
    color: white;
    color: transparent;  
    background-color: rgb(50, 49, 49);
    animation: crescer 500ms both;
}


@keyframes crescer {
    from {
        width: 20px;
    } 
    to {
        width: 200px;
        color: white;
    }

}

#telaFabricar .subTela > div{
    display: flex;
    flex-direction: column;
}

#telaFabricar  .retornar {
    height: 55px;
}

#telaFabricar .botao {
    width: 70%;
    background-color: black;
    color: white;
    padding: 15px;
    margin: auto;
    margin-top: 12px;
    border-radius: 10px;
}

#telaFabricar .botao:hover {
    background-color: rgb(170, 170, 170);
    color: black;
    cursor: pointer;
    transition: border-radius 0.3s;
}

.botoesExtrasCartas {
    height: 1360px;
}

#telaCartaMultiplicador .subTela {
    height: 1315px;
}

#telaCartaContrucao .subTela {
    height: 1315px;
}

#telaCartaObjetivos .subTela {
    height: 1315px;
}

.botoesExtrasCartas h1 {
    text-align: center;
    margin-top: -20px;
}

.cartaFabricacao {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    height: 200px;
    background-color: rgb(161, 160, 160);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.396);
}

.custoConteiner {
    width: 50%;
    height: 80%;
    background-color: lightgray;
    border-radius: 30px;
    margin-top: 10px;
    padding-top: 5px;
    float: left;
    box-shadow: 0px 0px 3px rgba(94, 93, 93, 0.799);
}

.custoConteinerInterno {
    text-align: center;
    width: 70%;
    margin: auto;
    height: 26px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: underline;
}

section.codigoCarta {
    height: 40px;
    width: 80px;
    background-color: lightgray;
    border-radius: 50px;
    float: right;
    margin-top: 116px;
    padding: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.153);
    border: 2px solid black;
}

span.codigo {
    display: block;
    width: 30px;
    float: right;
    margin-top: 4px;
    font-weight: bold;
}

section.custo ul > li {
    list-style-type: none;
    text-align: center;
    line-height: 1.4em;
}



