@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#mainPlay {
    width: 100vw;
    height: 100vh;
    
    
}

section#conteinerPlay {
    background-color: whitesmoke;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
}

input#play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 60px;
    font-size: 1.6em;
    background-color: black;
    color: white;
    border: 2px solid white;
}

input#play:hover {
    cursor: pointer;
    background-color: gray;
    color: black;
    border: 2px solid black;
    width: 125px;
    height: 65px;
    transition: background-color,color,border,width,height 0.3s;
}