section#DadosJogadores {
    width: 700px;
}

section#ferramentas {
    width: 700px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.tela {
    width: 700px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

div#exitAlert {
    display: none;
    text-align: center;
    width: 30px;
    margin: 8px;
    height: 100px;
    border-radius: 5px;
    background-color: gray;
    animation: crescerSaida 500ms both;
    
}

@keyframes crescerSaida {
    from {
        width: 30px;
    } 
    to {
        width: 96vw;
        color: white;
    }

}
