@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body {
    background-color: antiquewhite;
}

header {
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
    padding-top: 17px;
}

header i{
    padding: 10px;
    background-color: white;
    text-align: left;
    color: black;
    border-radius: 50%;
    font-weight: bold;
    margin: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.367);
}

header i:hover {
    background-color: rgb(77, 76, 76);
    color: red;
}

section#conteinerPrincipal {
    background-color: antiquewhite;
    width: 100vw;
    height: 1760px;
    padding: 10px;
}

section#containerPaginas {
    text-align: right;
}

section {
    font-family: 'Patrick Hand', cursive;
}

section h2 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 1.8em;
}

section p {
    text-align: left;
    font-size: 1.3em;
    margin: 9px;
    margin-top: 4px;
}

section.container_left {
    background-color: white;
    width: 270px;
    height: 270px;
    margin-left: -10px;
    margin-top: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 4px lightgray;
    padding: 10px;
}

section.container_right {
    background-color: white;
    width: 270px;
    height: 270px;
    display: inline-block;
    margin-top: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 0px 3px lightgray;
    padding: 10px;
}

section button {
    border: 0px;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    font-size: 1.4em;
}

.container_right button {
   margin-left: 120px;
}

#buttonPagCartas {
    background-color: lightgray;
}

#buttonPagFerramentas {
    background-color: lightgray;
}

#buttonPagJogar {
    background-color: lightgray;
    margin-top: 55px;
}

#buttonPagCartas:hover {
    background-color: gray;
}

#buttonPagFerramentas:hover {
    background-color: gray;
}

#buttonPagJogar:hover {
    background-color: gray;
}

section#info {
    background-color: white;
    width: 90%;
    height: 800px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px lightgray;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}

#info h1 {
    text-align: center;
    font-size: 2.4em;
    margin-bottom: 20px;
}

#info p {
    text-align: center;
}

