@charset "UTF-8";

html {
    background-color: antiquewhite;
}

main#manualCartas {
    width: 90vw;
    padding-top: 36px;
}

section.conteinerPrincipal_cartas_escuro {
    transition: width 1s;
    margin: auto;
    width: 80vw;
    height: 200px;
    margin-bottom: 120px;
    padding-right: 30px;
}

section.conteinerPrincipal_cartas_claro {
    transition: width 1s;
    margin: auto;
    width: 80vw;
    height: 200px;
    margin-bottom: 120px;
    padding-left: 30px;
}

/*CARTAS*/

h2.tiposCartas {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* pag 4 (Play)*/

#mainPlay {
    width: 97vw;
    height: auto;
    
}

section#containerJogar {
    width: 500px;
    height: 300px;
    padding-top: 95px;
    transition: all 1s;
}

section#conteinerPlay {
    width: 250px;
    height: 100px;
    padding-top: 36px;
    font-size: 1.5em;
}
